<!DOCTYPE html>
<html lang="en">
<head>
  <title>autoSEEKr <%= version %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="logo.png" id="favicon">
  <script src="materialize.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>
<body class="initial">
<div class="col-md-12">
  <h2 class="text-sm-center">Inital Setup</h2>

  <p>Before you use autoSEEKr you need to setup and authenticate your Google Drive, in order to save, review and manage all your job applications from a folder (on your Google Drive), which can be synced to your local computer (see options!).

  Click <strong>Next</strong> to run autoSEEKr setup now, or close the window to cancel.</p>

  <div class="text-sm-right">
    <a class="btn btn-primary" href="/settings">Next</a>
  </div>
</div>

</body>
